[data-dpr="2"] .box {
  font-size: 32px;
}

[data-dpr="3"] .box {
  font-size: 48px;
}

[data-dpr="4"] .box {
  font-size: 64px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  color: #333;
  text-align: center;
  line-height: 200px;
  font-size: 16px;
}
