@charset "UTF-8";
/* 简单继承 */
.div, .divext {
  width: 100px;
  height: 100px;
}

.divext {
  border-radius: 10px;
}

/* 关联属性继承 */
.div, .divext {
  width: 100px;
  height: 100px;
}

.div.other, .other.divext {
  border: 1px solid #000;
}

/* 链式继承 */
.div1, .div2, .div3 {
  width: 100px;
}

.div2, .div3 {
  color: red;
}

.div3 {
  border: 1px solid #000;
}

/* 伪类继承 */
a {
  color: red;
}

a:hover, .hoverlink {
  background-color: lightblue;
}

.hoverlink {
  background-color: #fff;
}
