<html>
  <head>
    <title>脚手架-ES2019从入门到精通</title>
		<link rel="stylesheet" href="/index.css" />
		<link rel="icon" href="#">
  </head>
  <body>
    <%- body %>
    <script src="./index.min.js" charset="utf-8"></script>
  </body>
</html>
